.header {
    height: 34vw;
    margin: 30px auto 150px;
    background: url('/tuedu.webp') no-repeat;
    background-size: cover;
    position: relative;
    border-radius: 20px;
}

.header-contents {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.5vw;
    max-width: 50%;
    bottom: 20%;
    animation: fadeIn 3s;
}

.header-contents .header-h2 {
    font-weight: 500;
    color: #C59A27;
    font-size: max(4.5vw, 22px);
    font-family: "Lexend", sans-serif;
}

.header-contents p {
    color: #C59A27;
    font-size: 1.5vw;
}

.header-contents a {
    border: none;
    color: white;
    font-weight: 500;
    padding: 1vw 2.3vw;
    background-color: #C59A27;
    font-size: max(1vw, 13px);
    border-radius: 40px;
}

@media (max-width: 1050px) {
    #header {
        padding-top: 20px;
        padding-bottom: 20px
    }

    .header {
        margin: 30px auto;
    }

    .header-contents {
        max-width: 45%;
    }
}

@media (max-width: 750px) {
    .header-contents {
        max-width: 65%;
        /*bottom: 6%;*/
        bottom: 2%;
    }

    .header-contents .header-h2 {
        font-size: max(4.5vw, 18px);
        max-width: 100%;
        margin: 0;
    }

    .header-contents p {
        font-size: 15px;
    }

    .header-contents a {
        padding: 2vw 4vw;
        text-align: center;
    }
}